OPENLOG_ENVIRONMENT={{ openlog_environment }}
OPENLOG_HOST={{ ansible_hostname }}
GRAFANA_CLOUD_METRICS_URL={{ grafana_cloud_metrics_url }}
GRAFANA_CLOUD_METRICS_USER={{ grafana_cloud_metrics_user }}
GRAFANA_CLOUD_LOGS_URL={{ grafana_cloud_logs_url }}
GRAFANA_CLOUD_LOGS_USER={{ grafana_cloud_logs_user }}
GRAFANA_CLOUD_TOKEN={{ grafana_cloud_token }}
